/* PADDING & BORDER INCLUDED IN WIDTH & HEIGHT */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
  
}
/* BACKGROUND */
body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: url("background.jpg") 21% 60%; 
    background-repeat: no-repeat;
}

/* MENU BOX */
#menu {
    display:flex;
    width: 100%;
    height: 35px;
    border: 1px solid black;
    border-bottom: none;
    justify-content: center;
    align-items: center;
}

/* MENU & SUB-MENU CONTAINER */
.menucombo{
    display:flex;
    flex-direction: column;
    width: 100%;
    background-color: hsla(0, 100%, 50%, 0.2);
}

/* ABOUT ME, WORK HISTORY & BLOG BOXES */
.submenu {
    display:flex;
    width: 100%;
    height: 20px;
    border: 1px solid black;
    border-bottom: none;
    justify-content: center;
    align-items: center;
    font-size: large;
    font-weight: 1000;
    text-decoration: none;
}

/* SUB-MENU CONTAINER */
.subitems{
    display:flex;
    flex-direction: column;
    width: 100%;
}

/* MISSING BOTTOM BORDER - MOBILE BOX */
#blog{
    border-bottom: 1px solid black;
}

/* ABOUT ME TITLE */
#abouttitle {
    display:flex;
    width: 100%;
    height: 70px;
    border: 1px solid black;
    border-top: none;
    justify-content: center;
    align-items: center;
    background-color: hsla(0, 7%, 95%, 0.379);
    color: black;
}

/* CENTER IMAGES - MOBILE */
#aboutimg {
    width: 200px;
    height: 180px;
    border-radius: 50%;
}
#workimg {
    width: 200px;
    height: 180px;
    border-radius: 50%;
}
#blogimg {
    width: 200px;
    height: 180px;
    border-radius: 50%;
}

.centerimg {
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:space-evenly;
    align-items: center;
    height: 500px;
    width: 100%;
    padding-top: 10%;
}

.caption {
    display:flex;
    width: 100%;
    height: 50px;
    justify-content: center;
    align-items: center;
    font-size: large;
    font-weight: 1000;
    text-decoration: none;
}

/* LOGO ICONS RESIZE */
.gitlinkicon {
    width: 70px;
    height: 60px;
}

/* LOGO ALIGNMENT*/
.logo {
    padding: 0px 0px 0px 0px;
}


/* COPYRIGHT, NAME, EMAIL & MOBILE */
.nameemailmobile {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    font-size: 12px;
}

footer {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 140px;
    justify-content: center;
    align-items: center;
    font-size: 10px;
    background-color: hsla(0, 98%, 50%, 0.2);
    position: fixed; bottom: 0; 
    text-align: center;
}


/* TABLET DISPLAY SIZE CONFIGURATION */
@media only screen and (min-width: 800px) and (max-width: 1400px) {
    /* MENU NEW LAYOUT*/
    .menucombo {
        display: flex;
        flex-direction: row;
    }

    #menu {
        height: 75px;
        border-bottom: 1px solid black;
        border-right: none;
    }

    .submenu {
        height: 25px;
    }

    /* CENTER IMAGES  */
    #aboutimg {
        width: 200px;
        height: 180px;
        border-radius: 20%;
    }
    #workimg {
        width: 200px;
        height: 180px;
        border-radius: 20%;
    }
    #blogimg {
        width: 200px;
        height: 180px;
        border-radius: 20%;
    }

    .centerimg {
        display:flex;
        justify-content:space-evenly;
        align-items: center;
        height: 500px;
        width: 100%;
    }

    .caption {
        display:flex;
        width: 100%;
        height: 50px;
        justify-content: center;
        align-items: center;
        font-size: large;
        font-weight: 1000;
        text-decoration: none;
    }
  
}

/* DESKTOP DISPLAY SIZE CONFIGURATION */
@media only screen and (min-width: 1401px) {
    /* MENU NEW LAYOUT*/
    .menucombo {
        display: flex;
        flex-direction: column;
    }

    #menu {
        height: 40px;
        border-bottom: 1px solid black;
        border-right: none;
    }

    .submenu {
        height: 25px;
        border-bottom: 1px solid black;
    }

    .subitems {
        display: flex;
        flex-direction: row;
    }

    /* CENTER IMAGES  */
    #aboutimg {
        width: 400px;
        height: 360px;
        border-radius: 0%;
    }
    #workimg {
        width: 400px;
        height: 360px;
        border-radius: 0%;
    }
    #blogimg {
        width: 400px;
        height: 360px;
        border-radius: 0%;
    }

    .centerimg {
        display:flex;
        justify-content:space-evenly;
        align-items: center;
        height: 500px;
        width: 100%;
    }

    .caption {
        text-align: center;
        text-decoration: none;
    }
    
}