/* PADDING & BORDER INCLUDED IN WIDTH & HEIGHT */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
  
}
/* BACKGROUND */
body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: url("background.jpg") 21% 60%; 
    background-repeat: repeat;
    background-size:auto;
    padding-bottom: 140px;
}

/* MENU BOX */
#menu {
    display:flex;
    width: 100%;
    height: 35px;
    border: 1px solid black;
    border-bottom: none;
    justify-content: center;
    align-items: center;
}

/* MENU & SUB-MENU CONTAINER */
.menucombo{
    display:flex;
    flex-direction: column;
    width: 100%;
    background-color: hsla(0, 100%, 50%, 0.2);
}

/* ABOUT ME, WORK HISTORY & BLOG BOXES */
.submenu {
    display:flex;
    width: 100%;
    height: 20px;
    border: 1px solid black;
    border-bottom: none;
    justify-content: center;
    align-items: center;
    font-size: large;
    font-weight: 1000;
    text-decoration: none;
}

/* SUB-MENU CONTAINER */
.subitems{
    display:flex;
    flex-direction: column;
    width: 100%;
}

/* MISSING BOTTOM BORDER - MOBILE BOX */
#blog{
    border-bottom: 1px solid black;
}

/* ABOUT ME/WORK HISTORY - TITLE & IMAGE */
#abouttitle {
    display:flex;
    width: 100%;
    height: 70px;
    border: 1px solid black;
    border-top: none;
    justify-content: center;
    align-items: center;
    background-color: hsla(0, 7%, 95%, 0.379);
    color: black;
}

#abouttext {
    padding: 0px 20px 0px 20px;
    background:hsla(0, 7%, 95%, 0.5) 
}

.abim {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* HOMEPAGE CENTER IMAGES - MOBILE */
#aboutimg {
    width: 11rem;
    height: 10rem;
    border-radius: 50%;
    margin: 20px;
}
#workimg {
    width: 11rem;
    height: 10rem;
    border-radius: 50%;
    margin: 20px;
}
#blogimg {
    width: 11rem;
    height: 10rem;
    border-radius: 50%;
    margin: 20px;
}

.centerimg {
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:space-evenly;
    align-items: center;
    width: 100%;
}

.caption {
    display:flex;
    width: 100%;
    height: 50px;
    justify-content: center;
    align-items: center;
    font-size: large;
    font-weight: 1000;
    text-decoration: none;
}

/* LOGO ICONS RESIZE */
.gitlinkicon {
    width: 70px;
    height: 60px;
}

/* LOGO ALIGNMENT*/
.logo {
    padding: 0px 0px 0px 0px;
}


/* COPYRIGHT, NAME, EMAIL & MOBILE */
.nameemailmobile {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    font-size: 12px;
}

footer {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 140px;
    justify-content: center;
    align-items: center;
    font-size: 10px;
    background-color: hsla(0, 98%, 50%, 0.2);
    position: fixed; bottom: 0; 
    text-align: center;
    z-index: 500;
}

/* ABOUT ME - WORK AND BLOG LINKS */
#wnbwork {
    width: 0;
    height: 0;
    border-radius: 0%;
}

#wnbblog {
    width: 0;
    height: 0;
    border-radius: 0%;
}

.aboutcap {
    display: none;
}

/* WORK HISTORY - BOXES (MOBILE)*/
.workbox {
    display:inline-block;
    flex-direction: row;
    flex-wrap: wrap;
    width: 40%;
    height: 150px;
    text-align: center;
    border: 1px solid black;
    margin: 1rem;
    background-color:hsla(0, 7%, 95%, 0.5);
}
.allworkbox {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    height: 100%;
}
/* WORK BOX DATES */
.strong {
    background-color:hsla(0, 5%, 4%, 0.851);
    color: white;
}

/* WORK TEXT FOR MOBILE ONLY  */
.tabwktxt {
    display: none;
}

.deskwktxt {
    display:none;
}

/* RESUME DOWNLOAD - BOX 4  */
#resume {
    width: 100%;
    height: 70%;
}

/* BLOG LINKS */
.blink {
    background-color:hsla(0, 7%, 95%, 0.5);
    color: black;
    display: flex;
    text-decoration: none;
}

/* BLOG IMAGES */
.blogimg {
    width: 50%;
    height: 50%;
    margin-top: 5rem;
    margin-bottom: 1rem;
}

/* BLOG IMAGE AND TEXT LAYOUT - DESKTOP */
#btnd {
    display:flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    margin: 1rem;
    background-color: hsla(0, 7%, 95%, 0.5);
}
#allb1 {
    display:flex;
    flex-direction: column;
    align-items: center;
}

/* TABLET DISPLAY SIZE CONFIGURATION */
@media only screen and (min-width: 800px) and (max-width: 1400px) {
    /* MENU NEW LAYOUT*/
    .menucombo {
        display: flex;
        flex-direction: row;
    }

    #menu {
        height: 75px;
        border-bottom: 1px solid black;
        border-right: none;
    }

    .submenu {
        height: 25px;
    }

    /* CENTER IMAGES  */
    #aboutimg {
        width: 15rem;
        height: 14rem;
        border-radius: 20%;
    }
    #workimg {
        width: 15rem;
        height: 14rem;
        border-radius: 20%;
    }
    #blogimg {
        width: 15rem;
        height: 14rem;
        border-radius: 20%;
    }

    .centerimg {
        display:flex;
        justify-content:space-evenly;
        align-items: center;
        width: 100%;
    }

    .caption {
        text-align: center;
        text-decoration: none;
    }

    /* ABOUT ME TEXT & IMAGE  */
    .abim {
        margin: 100px 0px 0px 0px; 
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items:center;
    }

    /* ABOUT ME - WORK AND BLOG LINKS */
    #wnbwork {
        width: 0;
        height: 0;
        border-radius: 0%;
    }

    #wnbblog {
        width: 0;
        height: 0;
        border-radius: 0%;
    }

    #abouttext {
        margin-right: 2rem;
        margin-left: 1rem;
    }

    .aboutcap {
        display: none;
    }

    /* WORK HISTORY - BOXES (TABLET)*/
    .workbox {
    display:inline-block;
    flex-direction: row;
    flex-wrap: wrap;
    width: 40%;
    height: 300px;
    text-align: center;
    border: 1px solid black;
    margin: 1rem;
    }
    .allworkbox {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    height: 100%;
    }

    /* WORK TEXT FOR TABLET ONLY  */
    .tabwktxt {
        display:flex;
        text-align:left;
        padding:1rem;
    }

}

/* DESKTOP DISPLAY SIZE CONFIGURATION */
@media only screen and (min-width: 1401px) {
    /* MENU NEW LAYOUT*/
    .menucombo {
        display: flex;
        flex-direction: column;
    }

    #menu {
        height: 40px;
        border-bottom: 1px solid black;
        border-right: none;
    }

    .submenu {
        height: 25px;
        border-bottom: 1px solid black;
        border-top: none;
        border-right: none;
    }

    .subitems {
        display: flex;
        flex-direction: row;
    }

    /* CENTER IMAGES  */
    #aboutimg {
        width: 21rem;
        height: 20rem;
        border-radius: 0%;
    }
    #workimg {
        width: 21rem;
        height: 20rem;
        border-radius: 0%;
    }
    #blogimg {
        width: 21rem;
        height: 20rem;
        border-radius: 0%;
    }

    .centerimg {
        display:flex;
        justify-content:space-evenly;
        align-items: center;
        height: 500px;
        width: 100%;
    }

    .caption {
        text-align: center;
        text-decoration: none;
    }
    
    /* ABOUT ME TEXT & IMAGE  */
    .abim {
        margin: 80px 20px 0px 0px; 
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items:center;
    }

    .aboutcap {
        display: flex;
        justify-content: center;
        align-items:center;
    }

    #aboutimg {
        margin-right: 40px;
    }

    /* ABOUT ME - WORK AND BLOG LINKS */
    #wnbwork {
        width: 15rem;
        height: 14rem;
        border-radius: 0%;
    }

    #wnbblog {
        width: 15rem;
        height: 14rem;
        border-radius: 0%;
        margin-top: 40px;
    }

    .worknblog {
        margin-left: 40px;
    }

    /* WORK HISTORY - BOXES (DESKTOP)*/
    .workbox {
        display:inline-block;
        flex-direction: row;
        flex-wrap: wrap;
        width: 30%;
        height: 400px;
        text-align: center;
        border: 1px solid black;
        margin: 1rem;
        }
        .allworkbox {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
        height: 100%;
        width:100%;
        }

        #deskresume {
        width: 15%;
        height: 40%;
        }

        /* WORK TEXT FOR DESKTOP ONLY  */
        .tabwktxt {
            display:flex;
            text-align:left;
            padding:1rem;
        }

        .deskwktxt {
            display:flex;
            text-align:left;
            padding:1rem;
        }

        /* BLOG IMAGES */
        .blogimg {
        width: 20%;
        height: 20%;
        margin-top: 5rem;
        margin-bottom: 1rem;
        margin-left: 10rem;
        }
        /* BLOG IMAGE AND TEXT LAYOUT - DESKTOP */
        #btnd {
            display:flex;
            flex-wrap: wrap;
            flex-direction: column;
            justify-content: center;
            width: 50%;
            margin-left: 10rem;

        }
        #allb1 {
            display:flex;
            flex-direction: row;
        }

    
}