/* PADDING & BORDER INCLUDED IN WIDTH & HEIGHT */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Source Sans Pro', sans-serif, monospace;
    font-weight: 300;
  
}
/* BACKGROUND */
body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: url("background.jpg") 21% 60%; 
    background-repeat: repeat;
    background-size:auto;
    padding-bottom: 140px;
}

/* MOBILE DISPLAY SIZE CONFIGURATION -------------------------------------- */
/* WELCOME IMAGE AND TEXT  */
#welcome {
    display: flex;
    width:20rem;
    height:40rem;
    margin: 2rem;
}
#weltext {
    display: flex;
    flex-wrap:wrap;
    font-size:1rem;
    margin-bottom: 5rem;
    margin-left:1rem;
    font-weight: 100;
}

.imgntext {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width:20rem;

}


/* MENU BOX */
#menu {
    display:flex;
    width: 100%;
    height: 35px;
    border: 1px solid black;
    border-bottom: none;
    justify-content: center;
    align-items: center;
}

/* MENU & SUB-MENU CONTAINER */
.menucombo{
    display:flex;
    flex-direction: column;
    width: 100%;
    background-color: rgb(249, 247, 247);
}

/* ABOUT ME, WORK HISTORY & BLOG BOXES */
.submenu {
    display:flex;
    width: 100%;
    height: 20px;
    border: 1px solid black;
    border-bottom: none;
    justify-content: center;
    align-items: center;
    font-size: large;
    font-weight: 1000;
    text-decoration: none;
}

/* SUB-MENU CONTAINER */
.subitems{
    display:flex;
    flex-direction: column;
    width: 100%;
}

/* MISSING BOTTOM BORDER - MOBILE BOX */
#blog{
    border-bottom: 1px solid black;
}

/* ABOUT ME/WORK HISTORY - TITLE & IMAGE */

#abouttext {
    padding: 0px 20px 0px 20px;
    height: 100%;
    margin: 1rem;
}

.abim {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

/* HOMEPAGE CENTER IMAGES - MOBILE */
#aboutimg {
    width: 11rem;
    height: 10rem;
    border-radius: 50%;
    margin: 20px;
}
#workimg {
    width: 11rem;
    height: 10rem;
    border-radius: 50%;
    margin: 20px;
}
#blogimg {
    width: 11rem;
    height: 10rem;
    border-radius: 50%;
    margin: 20px;
}

.centerimg {
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:space-evenly;
    align-items: center;
    width: 100%;
}

.caption {
    display:flex;
    width: 100%;
    height: 50px;
    justify-content: center;
    align-items: center;
    font-size: large;
    font-weight: 1000;
    text-decoration: none;
}

/* LOGO ICONS RESIZE */
.gitlinkicon {
    width: 70px;
    height: 60px;
}

/* LOGO ALIGNMENT*/
.logo {
    padding: 0px 0px 0px 0px;
}


/* COPYRIGHT, NAME, EMAIL & MOBILE */
.nameemailmobile {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    font-size: 12px;
}

footer {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 140px;
    justify-content: center;
    align-items: center;
    font-size: 10px;
    background-color: rgb(252, 251, 251);
    position: fixed; bottom: 0; 
    text-align: center;
    z-index: 500;
}

/* ABOUT ME - WORK AND BLOG LINKS */
#wnbwork {
    width: 0;
    height: 0;
    border-radius: 0%;
}

#wnbblog {
    width: 0;
    height: 0;
    border-radius: 0%;
}

.aboutcap {
    display: none;
}

/* WORK HISTORY - BOXES (MOBILE)*/
.workbox {
    display:inline-block;
    flex-direction: row;
    flex-wrap: wrap;
    width: 40%;
    height: 150px;
    text-align: center;
    border: 1px solid black;
    margin: 1rem;
    background-color:hsla(0, 7%, 95%, 0.5);
}
.allworkbox {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    height: 100%;
}
/* WORK BOX DATES */
.strong {
    background-color:hsla(0, 5%, 4%, 0.851);
    color: white;
}

/* WORK TEXT FOR MOBILE ONLY  */
.tabwktxt {
    display: none;
}

.deskwktxt {
    display:none;
}

#codeback {
    background: url(coding.jpg);
    background-position:center;
    color: white;
}

/* RESUME DOWNLOAD - BOX 4  */
#resume {
    width: 100%;
    height: 70%;
}

/* BLOG LINKS */
.blink {
    color: black;
    display: flex;
    text-decoration: none;
}

/* BLOG IMAGES */
.blogimg {
    width: 50%;
    height: 50%;
    margin-top: 5rem;
    margin-bottom: 1rem;
}

/* BLOG IMAGE AND TEXT LAYOUT - MOBILE */
.btnd {
    display:flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    margin: 1rem;
}
.allb1 {
    display:flex;
    flex-direction: column;
    align-items: center;
}

/* TABLET DISPLAY SIZE CONFIGURATION ------------------------------------ */
@media only screen and (min-width: 600px) and (max-width: 1400px) {
    /* WELCOME IMAGE AND TEXT  */
    .imgntext {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        height: 100%;
        width:20rem;
    }
    
    /* MENU NEW LAYOUT*/
    .menucombo {
        display: flex;
        flex-direction: row;
    }

    #menu {
        height: 75px;
        border-bottom: 1px solid black;
        border-right: none;
    }

    .submenu {
        height: 25px;
    }

    /* CENTER IMAGES  */
    #aboutimg {
        width: 15rem;
        height: 14rem;
        border-radius: 50%;
    }
    #workimg {
        width: 15rem;
        height: 14rem;
        border-radius: 50%;
    }
    #blogimg {
        width: 15rem;
        height: 14rem;
        border-radius: 50%;
    }

    .centerimg {
        display:flex;
        justify-content:space-evenly;
        align-items: center;
        width: 100%;
    }

    .caption {
        text-align: center;
        text-decoration: none;
    }

    /* ABOUT ME TEXT & IMAGE  */
    .abim {
        margin: 0px 0px 0px 0px; 
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items:center;
    }

    /* ABOUT ME - WORK AND BLOG LINKS */
    #abouttext {
        margin-right: 2rem;
        margin-left: 1rem;
    }

    .aboutcap {
        display: none;
    }

    /* WORK HISTORY - BOXES (TABLET)*/
    .workbox {
    display:inline-block;
    flex-direction: row;
    flex-wrap: wrap;
    width: 40%;
    height: 300px;
    text-align: center;
    border: 1px solid black;
    margin: 1rem;
    }
    .allworkbox {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    height: 100%;
    }

    /* WORK TEXT FOR TABLET ONLY  */
    .tabwktxt {
        display:flex;
        text-align:left;
        padding:1rem;
    }

}

/* DESKTOP DISPLAY SIZE CONFIGURATION ------------------------------------*/
@media only screen and (min-width: 1401px) {
    /* WELCOME IMAGE AND TEXT  */
    .imgntext {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        height: 100%;
        width:20rem;
    }
    
    /* MENU NEW LAYOUT*/
    .menucombo {
        display: flex;
        flex-direction: column;
    }

    #menu {
        height: 40px;
        border-bottom: 1px solid black;
        border-right: none;
    }

    .submenu {
        height: 25px;
        border-bottom: 1px solid black;
        border-top: none;
        border-right: none;
    }

    .subitems {
        display: flex;
        flex-direction: row;
    }

    /* CENTER IMAGES  */
    #aboutimg {
        width: 21rem;
        height: 20rem;
        border-radius: 50%;
    }
    #workimg {
        width: 21rem;
        height: 20rem;
        border-radius: 50%;
    }
    #blogimg {
        width: 21rem;
        height: 20rem;
        border-radius: 50%;
    }

    .caption {
        text-align: center;
        text-decoration: none;
    }
    
    /* ABOUT ME TEXT & IMAGE  */
    .abim {
        margin: 80px 20px 0px 0px; 
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items:center;
    }

    .aboutcap {
        display: flex;
        justify-content: center;
        align-items:center;
    }

    /* WORK HISTORY - BOXES (DESKTOP)*/
    .workbox {
        display:inline-block;
        flex-direction: row;
        flex-wrap: wrap;
        width: 30%;
        height: 400px;
        text-align: center;
        border: 1px solid black;
        margin: 1rem;
        }
        .allworkbox {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
        height: 100%;
        width:100%;
        }

        #deskresume {
        width: 15%;
        height: 40%;
        }

        /* WORK TEXT FOR DESKTOP ONLY  */
        .tabwktxt {
            display:flex;
            text-align:left;
            padding:1rem;
        }

        .deskwktxt {
            display:flex;
            text-align:left;
            padding:1rem;
        }

        /* BLOG IMAGES */
        .blogimg {
        width: 20%;
        height: 20%;
        margin-top: 5rem;
        margin-bottom: 1rem;
        margin-left: 10rem;
        }
        /* BLOG IMAGE AND TEXT LAYOUT - DESKTOP */
        #btnd {
            display:flex;
            flex-wrap: wrap;
            flex-direction: column;
            justify-content: center;
            width: 50%;
            margin-left: 10rem;

        }
        .allb1 {
            display:flex;
            flex-direction: row;
        }

    
}